<div class="container">
  <div class="row">
    <% @pimped_cars.each_with_index do |pimped_car, index| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to pimped_car_path(pimped_car), class: "card-link" do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.sub5zero.com/sites/default/files/uploads/2010/08/Turtle%20Power.jpg');">
      </div>
      <% end %>
      <!--  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
      <div class="card-details">
        <div class="card-info">
          <% placement = (index % 3) == 2 ? "left" : "right" %>

          <div class="card-name" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="<%= placement %>" data-content="<%= pimped_car.description %>">
            <h4><%= pimped_car.name %></h4>
          </div>
          <div class="card-price">
            <h4><%= pimped_car.price_per_day%>$</h4>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
