<% content_for(:title_tag) do %>
  <%= @pimped_car.name %>
<% end %>

<div class="banner"
style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @pimped_car.photo.path, crop: :fill %>')">

</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 car-info">
      <hr>
      <div class="carname-carowner">
        <div class="carname">
          <h1><%= @pimped_car.name %></h1>
        </div>
        <div class="carowner">
          <div class="ownerimg">
            <% owner = User.find(@pimped_car.user_id) %>
            <% owner_url = owner.facebook_picture_url || "http://placehold.it/30x30" %>
            <%= image_tag owner_url, class: "avatar" %>
          </div>
          <div class="ownername">
            <p><%= owner.first_name %> <%= owner.last_name %></p>
          </div>
        </div>
      </div>
      <hr>
      <p><i class="fa fa-map-marker" aria-hidden="true">
     <%= @pimped_car.address %></i></p>
      <hr>
      <p><%= @pimped_car.description %></p>
    </div>
    <div class="col-md-4 car-booking booking-form">
      <% unless @pimped_car.promo.blank? %>
        <div class="promo_box">
          <%= render 'promos/promo_box', object: @difference %>
        </div>
      <% end %>
      <%= render 'bookings/form_on_show' %>
    </div>
    <hr>
    <div class="static_card">

    </div>
</div>
</div>
