<div class="message-title">
  <div class="message-meta title">
    <p>User</p>
  </div>
  <div class="message-name title desktop">
    <p><strong>From</strong></p>
  </div>
  <div class="message-name title desktop">
    <p><strong>To</strong></p>
  </div>
  <div class="message-name title mobile">
    <p><strong>Date</strong></p>
  </div>
  <div class="message-name title user-details">
    <p><strong>Renter</strong></p>
  </div>
  <div class="message-body title">
    <div>
      <p><strong>Rented car</strong></p>
    </div>
  </div>

  <div class="message-status title">
    <p><strong>Statut</strong></p>
    <p><strong>Total</strong></p>
  </div>
</div>
<!-- Store each bookings relative to a car -->
<% bookings = @car.bookings %>
<!-- Iterate on bookings to display each booking for a car -->
<% bookings.each do |booking| %>
  <div class="message">
    <%= cl_image_tag renter(booking).facebook_picture_url, class: "avatar-large", width: 50, height: 50, gravity: "face", crop: :fill %>
    <div class="message-name desktop">
      <p><%= booking.starts_at.strftime("%m/%d/%Y") %></p>
    </div>
    <div class="message-name desktop">
      <p><%= booking.ends_at.strftime("%m/%d/%Y") %></p>
    </div>
    <div class="message-name mobile">
      <p><%= booking.starts_at.strftime("%m/%d") %></p>
      <p><%= booking.ends_at.strftime("%m/%d") %></p>
    </div>
    <div class="message-name user-details">
       <p class="text-center"><%= renter(booking).first_name %></p>

    </div>
    <div class="message-body">
        <div class="message-details">
          <p><%= link_to @car.name, pimped_car_path(booking.pimped_car_id) %></p>
      </div>
    </div>

      <div class="message-status text-left">
        <% if booking.status == "pending" %>
        <div class="boutons">
          <%= link_to "Accept", booking_path(booking, booking: {status: "accepted"}), class: "btn btn-success bouton", method: :patch %>
          <%= link_to "Decline", booking_path(booking, booking: {status: "declined"}), class: "btn btn-danger bouton", method: :patch %>
          </div>
        <% else %>
          <p class="pending"><%= booking.status %></p>
        <% end %>

        <p class="price">$ <%= total(booking) %></p>
      </div>
  </div>
<% end %>



