<% content_for(:title_tag) do %>
  My Bookings
<% end %>
<div class="container">
  <div class="row">
    <!-- Method call (defined has helper) to display or not the user bookings  -->

     <% if @bookings.empty? %>
     <% else %>
      <div class="col-xs-12 text-center">
        <h3 class="text-center car-list">My next rides</h3>
        <%= render partial: "user_bookings", object: @cars  %>
      </div>
      <% end %>
  </div>
  <div class="row owner-cars">
    <!-- Method call (defined has helper) to display or not owner bookings  -->
    <!-- Iteration on @cars to access each car and check if this car has been booked -->
    <% if @cars.any? { |car| car.bookings.empty? } %>
      <h3 class="text-center">Bookings for my Pimped Cars</h3>
    <% end %>
    <% @cars.each_with_index do |car, index| %>
      <% @car = car %>
      <% if car.bookings.empty? %>

        <div class="text-center car-list">
          <div class="car-list-div">
            <%= link_to pimped_car_path(car) do %>
              <h4 class="text-center car-list"><%= cl_image_tag car.photo.path, width: 50, height: 50, gravity: "face", crop: :fill, class: "avatar-rectangle" %> <%= car.name %></h4>
             <% end %>
           </div>
          <p>No reservations available yet for this car</p>
        </div>
      <% else %>
      <div class="car-list-div">
        <%= link_to pimped_car_path(car) do %>
          <h4 class="text-center car-list"><%= cl_image_tag car.photo.path, width: 50, height: 50, gravity: "face", crop: :fill, class: "avatar-rectangle" %> <%= car.name %></h4>
        <% end %>
      </div>
          <%= render partial: "owner_bookings", object: @car %>
      <% end %>
    <% end %>
  </div>
</div>

