<div class="container">
  <div class="row text-center">
    <h1>Your booking</h1>
  </div>
  <div class="col-xs-4 col-xs-offset-4 text-center">
    <div class="booking-date-infos">
      <p>Starts on: <%= @booking.starts_at %></p>
      <p>Ends on: <%= @booking.ends_at %></p>
      <p>Status: <%= @booking.status %></p>
    </div>
    <div class="booking-car-infos">
      <%= link_to 'My PimpedCar', pimped_car_path %>
    </div>
     <div class="booking-users-infos">
  <%= @owner.email%>
  <%= @renter.email%>
    </div>
    <div class="booking-total">
      <p>Total = $<%= @total %></p>
    </div>
</div>
