<div class=home-page>
  <menu class="Menu">
    <% if user_signed_in? %>
    <li class="Menu-item" id="btn-1"> <%= link_to "Profile", bookings_path %></li>
    <% end %>
    <li class="Menu-item" id="btn-2"><%= link_to "Log in", new_user_session_path %></li>
    <li class="Menu-item" id="btn-3"><%= link_to "Add", new_pimped_car_path %></li>
    <li class="Menu-item" id="btn-4"><%= link_to "Cars", pimped_cars_path %></li>
  </menu>

  <div class="pattern">
    <div class="Video" id="video">
      <video autoplay loop id="video-background" muted>
        <source src="http://res.cloudinary.com/dw5ekt0rf/video/upload/v1502966890/I%CC%87KAS_TEASER_TANITIM_yfy1yw.mp4" type="video/mp4">
      </video>
    </div>
     <div btn-cta-home>
    <%= link_to "Rent a Pimped Car", pimped_cars_path, class: "btn-cta-home" %>
  </div>
  </div>
</div>
