<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= yield(:title_tag).blank? ? "Pimped Cars" : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' unless @disable_nav %>
   <!--  if @disable_nav
      render 'shared/navbar_home'
    else
      render 'shared/navbar'
    end -->
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' unless @disable_footer %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>
  </body>
</html>
